# Mount debugfs on /sys/kernel/debug.
allow init debugfs:dir mounton;

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

allow init block_device:lnk_file { setattr };
allow init tmpfs:lnk_file create_file_perms;

# /data
allow init sdcardd_exec:file r_file_perms;

# sysfs iio:device[0-9]
allow init sysfs:lnk_file setattr;

# read/chown mDNIE symlinks
allow init sysfs_mdnie_writable:lnk_file { read setattr };

allow init ashmem_device:chr_file execute;
allow init cpboot-daemon_exec:file { read getattr open execute execute_no_trans };
allow init device:chr_file { create unlink };
allow init devpts:chr_file { ioctl getattr };
allow init functionfs:file write;
allow init graphics_device:chr_file { write ioctl };
allow init gps_device:chr_file { write ioctl };
allow init init_exec:file execute_no_trans;
allow init init_tmpfs:file append;
allow init input_device:chr_file ioctl;
allow init kmsg_device:chr_file write;
allow init log_device:chr_file write;
allow init mif_device:chr_file { write ioctl };
allow init mtp_device:chr_file write;
allow init node:tcp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init property_socket:sock_file write;
allow init rootfs:fifo_file { read create open getattr };
allow init rootfs:file { rename write create execute_no_trans };
allow init self:process execmem;
allow init self:tcp_socket { bind create setopt };
allow init servicemanager:binder transfer;
allow init vfat:file { read open };
allow init watchdog_device:chr_file { write ioctl };
