allow untrusted_app block_device:dir { read open };
allow untrusted_app device:dir { read open };
allow untrusted_app efs_file:dir getattr;
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app emmcblk_device:blk_file getattr;
